.canvas-page {
  overflow: hidden;
}

.canvas-page .canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #424242;
  z-index: 10;
}

.ui-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100dvw;
  height: 100dvh;
  inset: 0;
  z-index: 20;
  gap: 1rem;
  padding: 1.5rem;
  pointer-events: none;
}

.ui-overlay > * {
  pointer-events: all;
}
