.container-double {
  height: 100dvh;
  width: 100%;
  display: flex;
}

.container-content {
  display: flex;
  width: 100%;
}

.container-green {
  width: 65%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--spacing-3xl) 0 var(--page-gutter);
}

.container-content {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  text-align: justify;
}

.overline {
  font-weight: 200;
  font-size: var(--text-size-sm);
}

.title {
  font-size: var(--text-size-4xl);
  font-weight: 600;
  line-height: 135%;
}

.btn {
  background-color: var(--main-bg);
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--text-size-sm);
  cursor: pointer;

  &:hover {
    background-color: var(--text-hover-accent-contrast);
  }
}
.container-white {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: var(--page-gutter);
  padding-left: var(--spacing-3xl);
}

.container-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--spacing-3xl);
  gap: var(--spacing-3xl);
}

.container-full__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-image {
  position: relative;
  display: flex;
  margin: 0 auto;
  gap: var(--spacing-xl);
}

.flow-step {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--main-color);
  padding: 0.5rem 1rem;
}

.test {
  width: 15rem;
  height: 20rem;
}

.image-card--offset {
  transform: translateY(var(--spacing-2xl));
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-card__description {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-sm);
  justify-content: space-between;
}
