.tutorial-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  height: 3rem;
  border-radius: var(--radius-3xl);
  border: none;
  background-color: var(--main-bg);
  color: var(--text-black);
  flex-shrink: 0;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;

  &:hover {
    background-color: var(--main-color);
  }

  &:active {
    transform: translateY(0);
  }

  &.dark {
    background-color: var(--dark);
    color: var(--text-white);

    &:hover {
      background-color: var(--main-color);
    }
  }
}
